
# pixi environments
.pixi
*.egg-info

# environment files
.env

# python cache
**/*__pycache__
**/*.pyc
**/.DS_Store
.pytest_cache

# build artifacts
dist/
build/
*.whl
*.tar.gz

# data
data/*

# cursor
.cursor
