python-dotenv>=1.1.0,<2
requests>=2.32.3,<3
loguru>=0.7.3,<0.8
pandas>=2.2.3,<3
tqdm>=4.67.1,<5
biopython>=1.85,<2
beautifulsoup4>=4.13.4,<5
fastapi>=0.115,<1
uvicorn[standard]>=0.34,<1
slowapi>=0.1.9,<1
